:root {
  color-scheme: dark;
  --maincolor: var(--ctp-frappe-mauve);
  --text-accent-rgb: 202, 158, 230;
  --text-base: var(--ctp-mocha-text);
  --text-base-inv: var(--ctp-latte-text);
  --text-strong: #fff;
  --text-strong-inv: #000;
  --text-warning: var(--ctp-mocha-maroon);
  --text-subtext: var(--ctp-mocha-overlay0);
  --border-cl: var(--ctp-mocha-surface0);
  --background-base: var(--ctp-mocha-base);
  --background-quote: var(--ctp-mocha-mantle);
  --background-accent-alt: var(--ctp-latte-lavender);
  --background-accent: var(--ctp-frappe-mauve);
  --background-selection-rgb: 136, 57, 239;
}

pre {
  background-color: var(--ctp-mocha-crust) !important;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}

.highlight pre code[class="language-javaScript"]::before,
.highlight pre code[class="language-js"]::before {
  content: "js";
  background: #f7df1e;
  color: black;
}
.highlight pre code[class*="language-yml"]::before,
.highlight pre code[class*="language-yaml"]::before {
  content: "yaml";
  background: #f71e6a;
  color: white;
}
.highlight pre code[class*="language-shell"]::before,
.highlight pre code[class*="language-bash"]::before,
.highlight pre code[class*="language-sh"]::before {
  content: "shell";
  background: green;
  color: white;
}
.highlight pre code[class*="language-json"]::before {
  content: "json";
  background: dodgerblue;
  color: #000000;
}
.highlight pre code[class*="language-python"]::before,
.highlight pre code[class*="language-py"]::before {
  content: "py";
  background: blue;
  color: yellow;
}
.highlight pre code[class*="language-css"]::before {
  content: "css";
  background: cyan;
  color: black;
}
.highlight pre code[class*="language-go"]::before {
  content: "Go";
  background: cyan;
  color: royalblue;
}
.highlight pre code[class*="language-md"]::before,
.highlight pre code[class*="language-md"]::before {
  content: "Markdown";
  background: royalblue;
  color: whitesmoke;
}
