/* Catppuccin */
@import url("https://unpkg.com/@catppuccin/palette/css/catppuccin.css");

:root {
  --maincolor: #9557e6;
  --text-base: var(--ctp-latte-text);
  --text-base-inv: var(--ctp-frappe-text);
  --text-strong: #000;
  --text-strong-inv: #fff;
  --text-warning-strong: var(--ctp-latte-red);
  --text-warning: #360000;
  --text-subtext: var(--ctp-latte-subtext0);
  --text-meta: var(--ctp-latte-overlay0);
  --border-cl: var(--ctp-latte-surface1);
  --background-warning-rgb: 230, 69, 83;
  --background-base: var(--ctp-latte-base);
  --background-quote: var(--ctp-latte-crust);
  --background-accent: var(--ctp-frappe-mauve);
  --background-accent-alt: var(--ctp-frappe-lavender);
  --background-selection-rgb: 184, 161, 225;
}

html {
  color: var(--text-base);
  font-family: "Roboto Mono", "Noto Sans SC", monospace;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.6em;
}

body {
  display: block;
  margin: 0;
}
* {
  -webkit-tap-highlight-color: rgba(var(--background-selection-rgb), 0.5);
}

::selection {
  color: var(--text-strong);
  background-color: rgba(var(--background-selection-rgb), 0.5);
}
.meta::selection {
  color: var(--text-subtext);
}
.warning ::selection {
  color: var(--text-warning);
  background-color: rgba(var(--background-warning-rgb), 0.5);
}

p {
  line-height: 1.5;
}

hr {
  border: 0;
  border-top: 3px dotted var(--border-cl);
  margin: 1em 0;
}

blockquote {
  border-left: 5px solid var(--border-cl);
  color: var(--text-subtext);
  margin: 0;
}
blockquote p {
  padding: 1.5rem 1rem;
  height: 100%;
  /* width: 100%; */
  background-color: var(--background-quote);
  border-radius: 0 10px 10px 0;
}

.warning blockquote {
  border-left: 5px solid var(--text-warning-strong);
}
.warning blockquote p {
  color: var(--text-warning);
  background-color: rgba(var(--background-warning-rgb), 0.3);
}
.warning strong {
  color: var(--text-warning-strong);
}

a {
  color: var(--text-strong);
  background-size: 100% 180%;
  box-shadow: inset 0 -2px 0 0 var(--maincolor);
  transition: all 0.1s ease-in-out;
  background-image: linear-gradient(
    180deg,
    transparent 50%,
    var(--maincolor) 50%
  );
  text-decoration: none;
}

a:hover strong,
a:hover em,
a:hover {
  color: var(--text-strong-inv);
  background-position: 0 100%;
  transition: all 0.1s ease-in-out;
}

ul {
  list-style: none;
  padding-left: 2ch;
}
ul li {
  text-indent: -2ch;
}
ul > li::before {
  content: "* ";
  font-weight: bold;
}

/* Images */
img {
  border: 3px solid #ececec;
  max-width: 100%;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}
figure h4::before {
  content: "↳ ";
}

/* Code blocks */
code {
  font-family: "Fira Code", monospace;
  font-weight: 300;
  font-size: 0.9rem;
  background-color: rgb(var(--background-selection-rgb), 0.4);
  border-radius: 0.3em;
  color: var(--text-strong);
  padding: 0.1em 0.2em;
}

pre {
  border-radius: 0.4em;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}

.highlight {
  border-radius: 0.4em;
}

.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 0.9rem;
  padding: 0;
}

/* Containers */
.backdrop {
  background-color: var(--background-base);
  /* background-image: radial-gradient(#f1f1f1 20%, transparent 20%),
    radial-gradient(var(--ctp-frappe-rosewater) 20%, transparent 20%), linear-gradient(
        to bottom right,
        var(--background-accent-alt),
        var(--background-accent)
      );
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px, 100px 100px, 100% 100%;
  background-color: var(--background-accent);
  min-height: 100vh; */
}

.container {
  padding-bottom: 4em;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  padding: 0 1ch;
  word-wrap: break-word;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  // height fill the container
  height: 100%;
  padding: 0 2em;
}

main {
  height: 100%;
  flex-grow: 1;
}

/* Header */
header {
  /* line-height: 4.5em; */
  border-bottom: 0.4rem dotted var(--border-cl);
}
.header {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header .main {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

header nav {
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-strong);
  font-weight: 400;
  font-size: 1rem;
  margin-top: 2em;
}

h1 {
  font-size: 1.2rem;
}

h1::before {
  color: var(--maincolor);
  content: "# ";
}
h2::before {
  color: var(--maincolor);
  content: "## ";
}
h3::before {
  color: var(--maincolor);
  content: "### ";
}
h4::before {
  color: var(--maincolor);
  content: "#### ";
}
h5::before {
  color: var(--maincolor);
  content: "##### ";
}
h6::before {
  color: var(--maincolor);
  content: "###### ";
}

em {
  font-style: italic;
  color: var(--text-strong);
}
strong {
  font-weight: 500;
  color: var(--text-strong);
}

.subtext {
  color: var(--text-subtext);
  margin: 0;
}

.meta {
  font-size: 0.9rem;
  color: var(--text-meta);
  letter-spacing: -0.5px;
}

.toc {
  background-color: #ececec;
  color: #232333;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 5px;
  display: inline-block;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  border-top: 0.4rem dotted var(--border-cl);
  padding: 2rem 0rem;
  margin-top: 2rem;
}
.soc {
  display: flex;
  align-items: center;
  border-bottom: none;
}
.border {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid;
}
.footer-info {
  padding: var(--footer-padding);
}
.toggle-btn {
  cursor: pointer;
  color: var(--text-base);
  transition: 0.1s ease-in-out;
}
.toggle-btn:hover {
  color: var(--text-strong);
  transition: 0.1s ease-in-out;
}

/* Common */
.title h1 {
  margin-bottom: 0;
}

time {
  color: var(--text-subtext);
  font-size: 0.9rem;
}

/* Posts */
article .title {
  margin-bottom: 1em;
}

/* Callout */
.callout {
  background-color: var(--callouctcolor);
  color: #fff;
  padding: 1em;
}

.callout p {
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
}

.callout a {
  border-bottom: 3px solid #fff;
}

.callout a:hover {
  background-color: #fff;
  color: var(--callouctcolor);
}

.site-description {
  display: flex;
  justify-content: space-between;
}
.tags li::before {
  content: "🏷️ ";
}

svg {
  max-height: 15px;
}
.soc:hover {
  color: white;
}
.draft-label {
  color: var(--text-strong);
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: var(--background-accent-alt);
}
.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"]::before {
  background: black;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}

.highlight pre code[class="language-javaScript"]::before,
.highlight pre code[class="language-js"]::before {
  content: "js";
  background: #f7df1e;
  color: black;
}
.highlight pre code[class*="language-yml"]::before,
.highlight pre code[class*="language-yaml"]::before {
  content: "yaml";
  background: #f71e6a;
  color: white;
}
.highlight pre code[class*="language-shell"]::before,
.highlight pre code[class*="language-bash"]::before,
.highlight pre code[class*="language-sh"]::before {
  content: "shell";
  background: green;
  color: white;
}
.highlight pre code[class*="language-json"]::before {
  content: "json";
  background: dodgerblue;
  color: #000000;
}
.highlight pre code[class*="language-python"]::before,
.highlight pre code[class*="language-py"]::before {
  content: "py";
  background: blue;
  color: yellow;
}
.highlight pre code[class*="language-css"]::before {
  content: "css";
  background: cyan;
  color: black;
}
.highlight pre code[class*="language-go"]::before {
  content: "Go";
  background: cyan;
  color: royalblue;
}
.highlight pre code[class*="language-md"]::before,
.highlight pre code[class*="language-md"]::before {
  content: "Markdown";
  background: royalblue;
  color: whitesmoke;
}

/* table */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  font-size: large;
}

table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
